html {
    /* LIGHT */
    --white: #fff;
    --light-1: #d2d1d6;
    --light-2: #f6f6f6;

    /* DARK */
    --dark-1: #171c28;
    --dark-2: #292e39;
    --dark-3: #1a162e;

    /* BLUE */
    --light-blue: #0071dc;
    --dark-blue: #0556a3;

    /* OTHERS */
    --error-color: red;
}
