@use '../abstracts';
@use './common';

html {
    --primary-color: rgb(255, 183, 0);

    /* STAR */
    --star-color: var(--primary-color);

    /* BODY */
    --text-color: var(--dark-3);
    --body-bg-color: var(--white);
    --scrollbar-thumb-bg-color: rgba(22, 24, 35, 0.06);
    --skeleton-from-bg-color: hsl(200, 20%, 80%);
    --skeleton-to-bg-color:  hsl(200, 20%, 95%);
    --overlay-bg-color: rgba(0, 0, 0, 0.15);

    /* HEADER */
    --header-bg-color: rgba(255, 255, 255, 0.8);
    --mobile-nav-text-color: #333;
    --mobile-nav-icon-color: #757575;
    --mobile-nav-border-color: rgba(0, 0, 0, 0.079);
    --mobile-subnav-bg-color: var(--white);
    --navigate-item-decor-color: #1473e6;

    /* SIDEBAR */
    --sidebar-item-bg-color: #e8ebed;
    --sidebar-item-hover-bg-color: #f5f5f5;

    /* FOOTER */
    --footer-text-color: #bbbbbb;

    /* AUTH */
    --auth-page-left-bg-color: #f8f8f8;
    --auth-page-left-border-color: transparent

    /* TOOLTIP */
    --tooltip-bg-color: var(--white);
    --tooltip-shadow: rgba(99, 99, 99, 0.2);

    /* FEED CARD */
    --feedcard-bg-color: var(--white);
    --feedcard-time-color: #888888;

    /* FILTER */
    --filter-product-bg-color: rgb(255, 183, 0, 0.4);


    /* SCROLL LIST */
    --scrollist-title-color: #242424;
    --scrollist-link-color: #f05123;

    /* MODAL */
    --modal-bg-color: var(--white);
    --modal-shadow-color: rgba(0, 0, 0, 0.15);

    /* ICON */
    --icon-color: brightness(0) saturate(100%) invert(8%)
        sepia(7%) saturate(6038%) hue-rotate(213deg)
        brightness(99%) contrast(95%);

    /* LOGO */
    --logo-border-color: var(--white);

    /*PRODUCT CARD*/
    --product-card-bg-color: var(--white);
    --product-card-shadow: rgba(99, 99, 99, 0.2);
    --product-card-old-price-color: rgba(0, 0, 0, 0.44);
    --product-card-status-color: rgba(0, 0, 0, 0.65);

    /*PRODUCT DETAIL*/
    --product-detail-page-bg-color: #f5f5f5;
    --product-detail-bg-color: var(--white);
    --product-section-bg-color: var(--white);
    --product-card-bg-color-in-product-detail-page: var(--white);

    --product-media-shadow: rgba(99, 99, 99, 0.2);
    --product-preview-image-shadow: rgba(0, 0, 0, 0.15);
    --product-preview-bg-color: var(--white);
    --product-preview-image-bg-color: var(--white);

    --product-infor-bg-color: var(--white);
    --product-infor-desc-color: #53382c;
    --product-infor-old-price-color: rgba(0, 0, 0, 0.44);

    --product-attr-name-color: gray;
    --product-attr-value-bg-color: #ededf6;
    --product-attr-value-color: #9e9da8;

    /* REVIEW */
    --review-card-bg-color: #f3f3f36b;
    --review-card-border-color: rgba(0, 0, 0, 0.09);
    --review-time-color: rgba(0, 0, 0, 0.54);
    --review-form-bg-color: #f5f5f5;
    --review-form-input-bg-color: var(--white);

    /* SEARCH */
    --search-label-color: #3c4b66;
    --search-icon-color: #657789;
    --search-input-color: #a9b8c9;
    --search-input-focus-color: #6d7f8f;
    --search-top-shadow: rgba(197, 212, 227, .4);
    --search-bottom-shadow: rgba(197, 212, 227, .1);
    --search-icon-shadow-color-1: rgba(255, 255, 255, 0.4);
    --search-icon-shadow-color-2: rgb(194, 215, 235, .5);
    --search-input-focus-bg-color: rgba(255, 255, 255, .3);
    --search-bg-color: var(--light-2);
    --search-input-bg-color: var(--light-2);

    /* BUTTONS */
    --primary-button-bg-color: var(--primary-color);
    --primary-button-hover-bg-color: var(--lighter-primary-color);

    /* FORM */
    --form-link-hover: var(--dark-blue);
    --auth-form-left-bg-color: var(--lighter-primary-color);
    --auth-form-right-bg-color: var(--white);
    --auth-form-left-desc-color: var(--text-color);
    --form-text-input-error-color: var(--error-color)

    /* CATEGORY */
    --category-title-color: #53382c;
    --category-desc-color: #53382c;
}
