@use '../abstracts';

.modal {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    &-soft {
        border-radius: 12px;
    }

    & .inner {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;

        background-color: var(--modal-bg-color);
        box-shadow: 4px 0 24px var(--modal-shadow-color);

        animation: ease-in-out forwards;

        border-radius: 14px;
        overflow: hidden;

        animation-name: fadeIn;
    }

    &.hidden .inner {
        animation-name: fadeOut;
    }

    &__close {
        position: absolute;
        top: 3px;
        right: 3px;
        z-index: 4;

        display: flex;

        font-size: 2.2rem;
        padding: 6px;
        border-radius: 50%;

        @include abstracts.mediaquery(md) {
            font-size: 1.8rem;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &-header {
        margin-bottom: 16px;

        &__heading {
            margin-top: 8px;
            margin-bottom: 10px;

            font-size: 2.2rem;
            font-weight: 500;

            @include abstracts.mediaquery(md) {
                font-size: 2rem;
            }
        }

        &__desc {
            @include abstracts.mediaquery(md) {
                font-size: 1.4rem;
            }
        }
    }

    &-footer {
        padding: 20px 12px 0 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid #ddd;
        gap: 12px;
        position: relative;

        @include abstracts.mediaquery(md) {
            justify-content: space-between;
        }

        &.blur:after {
            content: '';
            display: block;
            position: absolute;
            top: -51px;
            left: 24px;
            right: 24px;
            height: 50px;
            flex-shrink: 0;
            background-image: linear-gradient(
                to top,
                rgba(#fff, 0.75),
                transparent
            );
            pointer-events: none;
        }
    }

    &-btn {
        padding: 0 26px;
        font-weight: 500;
        height: 38px;
    }
}

.modal-vertical {
    &--leftEdge {
        inset: 0 auto 0 0;
        transform: translate(0, 0);
    }

    &--rightEdge {
        inset: 0 0 0 auto;
        transform: translate(0, 0);
    }

    & .inner {
        height: 100vh;
    }

    &--leftEdge .inner {
        animation-name: slideFromLeft;

        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    &--leftEdge.hidden .inner {
        animation-name: slideOutToLeft;
    }

    &--rightEdge .inner {
        animation-name: slideFromRight;

        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    &--rightEdge.hidden .inner {
        animation-name: slideOutToRight;
    }
}

.auth-modal {
    display: flex;
    align-items: center;

    border-radius: 8px;
    background-color: #fff;

    width: 80vw;
    height: 80vh;
    @include abstracts.mediaquery(md) {
        flex-direction: column;
        width: 90vw;
    }

    &__photo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-basis: 60%;
        height: 100%;

        @include abstracts.mediaquery(md) {
            flex-basis: auto;
            height: 40%;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 40%;
        height: 100%;
        overflow: auto;

        padding: 44px;

        h1 {
            font-size: 2.1rem;
            line-height: 1.6;
            font-weight: 600;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #0a0a0a;
        }
        p {
            font-size: 1.6rem;
            color: #686868;
            line-height: 1.8;
        }

        @include abstracts.mediaquery(md) {
            flex-basis: auto;

            flex: 1;

            padding: 30px;
            justify-content: flex-start;

            & h1 {
                font-size: 1.8rem;
            }

            & p {
                font-size: 1.4rem;
            }
        }
    }
}

.link-modal {
    width: min(420px, 80vw);
    padding: 20px;
}
