.tooltip {
    position: relative;

    &-display {
        position: absolute;
        z-index: 10000;

        animation-name: tippy_fadeIn;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

        &.default-style {
            background-color: var(--white);
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            display: block;
            padding: 8px 24px;
        }

        &.hidden {
            animation-name: tippy_fadeOut;
        }
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
