@use '../abstracts';

.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    z-index: 99;

    top: var(--header-height);
    left: 0;

    width: var(--sidebar-width);
    padding: 30px 12px;

    &-menu {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        row-gap: 6px;
        width: 70px;
        height: 70px;

        border-radius: 16px;

        background-color: var(--sidebar-item-bg-color);
        color: var(--sidebar-item-text-color);

        &:hover {
            cursor: pointer;
            background-color: var(--sidebar-item-hover-bg-color);
        }
    }

    &-item:hover &-icon {
        transform: scale(1.1);
    }

    &-item:hover &-text {
        transform: scale(1.05);
    }

    &-icon {
        width: 20px;
        height: 20px;
        transition: transform 0.1s ease-in-out;
    }

    &-text {
        font-size: 1.2rem;
        font-weight: 600;
        transition: transform 0.1s ease-in-out;
    }
}
